@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* Colors */
  --bg-color: #1b1715;
  /* Dark brown/charcoal */
  --surface-color: #231d1a;

  --text-main: #dfd4c6;
  --text-muted: #9c8e7e;

  --fire-main: #e65c00;
  /* Orange */
  --fire-dark: #b34700;

  --font-serif: "Libre Baskerville", serif;
  --font-sans: "Outfit", sans-serif;

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;
}
